*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid black;
}

.inno-nav{
    background-color: #f2f2f2;
}

.active{
    color: #a63126 !important;
}

.nav-inno{
    color: #0c2840 !important;
}

.landing img{
    width: 100%;
}

.products{
    background-color: white;
}

.jusitfycontent1{
    text-align: justify;
    text-justify: inter-word;

}

.ourcompany div img{
    width: 100%;
}

/* footer */
.innofooter div img{
    width: 100px;
}

@media (min-width: 320px) and (max-width: 425px){
    .logox img{
        width: 210px;
    }
}